<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nikash Deka Portfolio Page | About Me</title>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <!-- Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/biodata.css" />
    <link rel="stylesheet" href="/assets/css/constant_style.css" />
    <!-- Imported jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body class="white-text" style="background: #131415">
    <!-- Common Component for Every Page STARTS -->
    <header>
      <!-- NAVBAR FIXED -->
      <div class="navbar-fixed">
        <nav class="z-depth-0">
          <div class="nav-wrapper container">
            <a href="/index.html" class="brand-logo light-blue-text"
              ><strong>Nikash Deka</strong></a
            >
            <a
              href="#"
              data-target="mobile-menu"
              class="sidenav-trigger white-text"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li>
                <a class="white-text" href="/index.html">Home</a>
              </li>
              <li>
                <a class="white-text" href="/views/projects.html">Projects</a>
              </li>
              <li>
                <a class="white-text" href="/views/about_me.html">About Me</a>
              </li>
              <li>
                <a class="btn-small light-blue" href="/views/contact.html"
                  >Let's Connect</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- SIDENAV -->
      <ul class="sidenav" id="mobile-menu">
        <a href="/index.html" class="brand-logo">
          <h5 class="pl-2">
            <strong>Nikash Deka</strong>
            <h6 class="pl-2">Profile page</h6>
          </h5>
        </a>
        <li><a class="white-text" href="/index.html">Home</a></li>
        <li>
          <a class="white-text" href="/views/projects.html">Projects</a>
        </li>
        <li>
          <a class="white-text" href="/views/about_me.html">About Me</a>
        </li>
        <li>
          <a
            class="btn-small light-blue"
            class="btn-small"
            href="/views/contact.html"
            >Let's Connect</a
          >
        </li>
      </ul>
    </header>

    <!-- Page Heading STARTS -->
    <div class="page-heading">
      <h4 class="center-align mt-5">
        About Me
        <i class="material-icons medium light-green-text">hdr_strong</i>
      </h4>
    </div>
    <!-- Page Heading ENDS -->
    <!-- Common Component for Every Page ENDS -->

    <!-- Top Showcase Carousel section STARTS -->
    <div class="slider mt-2">
      <ul class="slides">
        <li class="blue">
          <img src="/assets/images/bihu_dance.jpg " />
          <div class="caption center-align">
            <h3 class="">Bohag Bihu</h3>
            <h5 class="light yellow-text">
              What best way to celebrate harvest abundance, togetherness,
              merriment, and dance .
            </h5>
            <p></p>
          </div>
        </li>
        <li class="blue">
          <img src="/assets/images//bihu_pitha.jpg" />
          <div class="caption left-align">
            <h3>King size snack</h3>
            <h5 class="light grey-text text-lighten-3">
              This local snack will win every heart.
            </h5>
          </div>
        </li>
        <li class="blue">
          <img src="/assets/images/bihu_meal.jpeg" />
          <div class="caption right-align">
            <h3 class="yellow-text">
              Traditional deliciousness of Assam served with love.
            </h3>
            <h5 class="black-text">No place like home and my comfort food.</h5>
          </div>
        </li>
        <li class="blue">
          <!-- <img src="/assets/images/Nikash_sm.jpg " /> -->
          <div class="caption center-align responsive-img">
            <h3>Passionate, Workaholic, and Sensitive</h3>
            <h5 class="light black-text">
              I am a thinker and love to keep learning new things.
            </h5>
          </div>
        </li>
      </ul>
    </div>
    <!-- Top Showcase Carousel section ENDS -->

    <article class="container">
      <p>
        Born in the north-eastern part of India in the state of Assam, I spent
        my childhood in a mesmerizing hill station called Shillong, the capital
        of Meghalaya (The Abode of Clouds), with blessed greenery and beautiful
        wet weather, and hills hidden in a carpet of clouds, where I did
        complete my education in Bio-Science.
      </p>
      <p>
        My professional corporate career began as a Unit Sales Manager for a
        non-life insurance MNC (ICICI Lombard GIC), and gradually rose to
        Branch-Head, Cluster-Head, Retail-Head, National-Sales-Manager, and
        eventually Channel Head in another non-life insurance MNC (SBI GIC).
      </p>
      <p>
        I am fortunate to start my successful career from the lowest level of
        the corporate ladder and reach the senior management level, which not
        only gave me experience and motivation but also taught me a great deal
        of humility, perseverance, and teamwork.
      </p>
      <p>
        I am an entrepreneur and a passionate tech and design enthusiast. My
        heart was in innovation and building beautiful and relevant services and
        products, at the same time helping identify, guide, and rectify broken
        services and products. Thus founded "Crevalpro Service Design and
        Management Consultancy", with a vision to help build services and
        products that are human-centric, using design thinking principles, and
        enhance the quality of living, benefiting individuals in a way that is
        in harmony with the well-being of this planet Earth.
      </p>
      <p>
        I love exploring and learning new advancements in the tech world. So
        much so that I ended up teaching myself Frontend web development with
        HTML, CSS, JS, and a few frameworks like Bootstrap, jQuery, and Vue. I
        also dipped my hands in Mobile app development with Flutter-Dart.
      </p>
      <p>
        My inspiration is Ratan Tata, a modest, sensitive, and strong-willed
        personality, who never stopped creating value for customers,
        stakeholders, and society.
      </p>
      <p>
        As a music lover and musician I love to savor all kinds of music of any
        language and region, and occasionally like to write and compose songs.
      </p>
      <p>My strength is my parents, my wife, and my kid.</p>
    </article>

    <!-- Section Skills Tab-Menu STARTS -->
    <div class="row container skills-container pb-4">
      <div class="section-caption center-align pb-4">
        <!-- <h5 class="mt-4 pt-4 pb-2">TOOLBOX  <i class="fas fa-solid fa-toolbox small light-blue-text"></i>
        </h5> -->
      </div>
      <!-- Skill TABS mark-up  -->
      <div class="col s12 mt-2">
        <ul class="tabs transparent">
          <li class="tab col s12 m3">
            <a
              class="active flow-text tooltipped"
              data-position="bottom"
              data-tooltip="Tech Skills"
              href="#tech-skills"
              >Tech Skills</a
            >
          </li>
          <li class="tab col s12 m3">
            <a
              class="flow-text tooltipped"
              data-position="bottom"
              data-tooltip="Work Experience"
              href="#work-ex"
              >Work-Ex</a
            >
          </li>
          <li class="tab col s12 m3">
            <a
              class="flow-text tooltipped"
              data-position="bottom"
              data-tooltip="Credentials & Certificates"
              href="#credentials"
              >Credentials</a
            >
          </li>
          <li class="tab col s12 m3">
            <a
              class="flow-text tooltipped"
              data-position="bottom"
              data-tooltip="Others"
              href="#others "
              >Others</a
            >
          </li>
        </ul>
      </div>
      <!-- Tech-skills mark-up  -->
      <div class="skills-warapper">
        <div id="tech-skills" class="col s12">
          <div class="grey-text skill-icons">
            <div class="i-box center-align">
              <img
                class="responsive-img"
                src="/assets/images/html.png"
                alt=""
              />
              <h6 class="hide-on-small-only">HTML5</h6>
            </div>
            <div class="i-box center-align">
              <img class="responsive-img" src="/assets/images/css.png" alt="" />
              <h6 class="hide-on-small-only">CSS3</h6>
            </div>
            <div class="i-box center-align">
              <img class="responsive-img" src="/assets/images/js.png" alt="" />
              <h6 class="hide-on-small-only">JavaScript</h6>
            </div>
            <div class="i-box center-align">
              <img
                class="responsive-img"
                src="/assets/images/bootstrap.png"
                alt=""
              />
              <h6 class="hide-on-small-only">Bootstrap</h6>
            </div>

            <div class="i-box center-align p-4">
              <img
                class="responsive-img"
                src="/assets/images/jquery.png"
                alt=""
              />
              <h6 class="hide-on-small-only">jQuery</h6>
            </div>
            <div class="i-box center-align">
              <img
                class="responsive-img"
                src="/assets/images/flutter.png"
                alt=""
              />
              <h6 class="hide-on-small-only">Flutter</h6>
            </div>
            <div class="i-box center-align">
              <img
                class="responsive-img"
                src="/assets/images/dart.png"
                alt=""
              />
              <h6 class="hide-on-small-only">Dart</h6>
            </div>
          </div>
          <a class="btn-small mb-2 light-blue" href="/views/projects.html"
            >Projects</a
          >
        </div>
      </div>
      <!-- Work-Ex mark-up -->
      <div id="work-ex" class="col s12">
        <p>
          Over 10 years of corporate work experience around Management, Business
          Development, Project Lead, Technology, and People-management.
        </p>
        <ul>
          <li>Lead Retail, Bancassurance, and Corporate channels</li>
          <li>
            Project Lead for developing IT platforms for online products
            distribution
          </li>
          <li>
            Business Lead for Core system implementation and IT principles to
            business
          </li>
          <li>Operational Process improvement and SOP implementation</li>
          <li>
            Lead teams, mentored, and managed their activities and performance
            appraisals
          </li>
          <li>Channel-Head (Country), MNC Non-life Insurance Company</li>
          <li>National-Sales-Manager (NSM), MNC Non-life Insurance Company</li>
          <li>Retail Head (Regional), MNC Non-life Insurance Company</li>
          <li>Cluster-Head (Regional), MNC Non-life Insurance Company</li>
          <li>Branch-Head (Profit Center), MNC Non-life Insurance Company</li>
          <li>Unit-Sales-Manager, MNC Non-life Insurance Company</li>
        </ul>
        <a class="btn-small light-blue" href="/views/biodata.html">Biodata</a>
      </div>
      <!-- Credentials mark-up -->
      <div id="credentials" class="col s12">
        <ul>
          <li>
            Strategy Consulting - Indian Institute of Management, Bangalore
            (IIMB)
          </li>

          <li>Google Tools of Trade : Linux & SQL - Coursera</li>
          <li>
            Google Connect and Protect : Networkds & Network Security - Coursera
          </li>
          <!-- New Credentials starts -->

          <li>Google Assets, Threats, and Vulnerabilities - Coursera</li>
          <!-- New Credentials ends -->

          <li>Google Play It Safe : Manage Security Risks - Coursera</li>
          <li>Google Foundation of Cybersecurity - Coursera</li>
          <li>Google Foundation of User Experience (UX) Design - Coursera</li>

          <li>Design Thinking Certification - IDEO</li>
          <li>Service Design - Udemy</li>
          <li>
            User Research Certification - Interaction Design Foundation (IDF)
          </li>
          <li>
            User Experience Fundamentals - Interaction Design Foundation (IDF)
          </li>
          <li>Flutter + Dart - Udemy</li>
          <li>JavaScript - Udemy</li>
          <li>Web Design - FreeCodeCamp</li>
          <li>
            Cert SCI (General Insurance) - Singapore College of Insurance (SCI)
          </li>
          <li>
            Cert SCI (Health Insurance) - Singapore College of Insurance (SCI)
          </li>
          <li>Cert SCI (Reinsurance) - Singapore College of Insurance (SCI)</li>
          <li>Licentiate (Non-Life) - Insurance Institute of India (III)</li>
        </ul>
        <a class="btn-small light-blue" href="/views/certifications.html"
          >Certification</a
        >
      </div>

      <!-- Others mark-up -->
      <div id="others" class="col s12">
        <ul>
          <li>A Hobbyist Musician, Singer.</li>
          <li>Love Swimming</li>
          <li>Enjoy watching movies</li>
          <li>
            Volunteering in social cause (Willing Hearts Foundation, Singapore)
          </li>
        </ul>
        <a class="btn-small light-blue" href="/index.html">Home</a>
      </div>
    </div>

    <!-- Footer STARTS -->
    <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Let's build something awesome!</h5>
            <p class="grey-text text-lighten-4">
              Innovate & Design products that create value for users.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="/index.html">Home</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="/views/projects.html"
                  >Projects</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="/views/biodata.html"
                  >Biodata</a
                >
              </li>
              <!-- <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/views/blogs/blogs.html"
                  >Blogs</a
                >
              </li> -->
              <li>
                <a class="grey-text text-lighten-3" href="/views/about_me.html"
                  >About Me</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="/views/certifications.html"
                  >Credentials</a
                >
              </li>
              <li>
                <a
                  class="crevalpro-link-btn btn-small mt-1 light-blue darken-3"
                  href="https://crevalpro.com"
                  >Visit crevalpro.sdmc</a
                >
              </li>
              <li>
                <a
                  class="btn-small mt-1 light-blue darken-3"
                  href="/views/contact.html"
                  >Let's Connect</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Nikash Deka. All Rights Reserved

          <a id="to-top-btn" class="grey-text text-lighten-4 right" href="#"
            >To Top</a
          >
        </div>
      </div>
    </footer>
    <!-- Footer ENDS -->

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/scroll_to_top.js"></script>
  </body>
</html>
