<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nikash Deka Portfolio Page</title>
    <!--Imported Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Imported Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <!-- Compiled and minified Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Imported jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Compiled and minified Materialize Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <body class="white">
    <header>
      <!-- Navigation STARTS -->
      <div class="navigation">
        <!-- Navbar Section STARTS -->
        <nav class="grey lighten-5">
          <div class="nav-wrapper container">
            <a href="#!" class="brand-logo blue-grey-text">Nikash Deka</a>
            <a
              href="#"
              data-target="mobile-demo"
              class="sidenav-trigger blue-grey-text"
              ><i class="material-icons">menu</i></a
            >
            <ul class="right hide-on-med-and-down">
              <li><a class="blue-grey-text" href="/index.html">Home</a></li>
              <li>
                <a class="blue-grey-text" href="frontend_development.html"
                  >Frontend Works</a
                >
              </li>
              <li>
                <a class="blue-grey-text" href="/views/blogs/blogs.html"
                  >Blogs</a
                >
              </li>
              <li><a class="blue-grey-text" href="mobile.html">Mobile</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
          <li>
            <a href="/nikash_portfolio/index.html">Back To Home</a>
          </li>
        </ul>
        <!-- Navbar Section ENDS -->
      </div>
      <!-- Navigation ENDS -->

      <!-- Heading Caption STARTS -->
      <div class="heading-caption">
        <h5 class="blue-grey-text darken-4 center-align">
          My Frontend Projects
        </h5>
      </div>
      <!-- Heading Caption ENDS -->

      <!-- Top Showcase Cards STARTS -->
      <div class="carousel my-carousel WHITE">
        <div class="carousel-item my-carousel-item" href="#one!">
          <img src="https://lorempixel.com/250/250/nature/1" />
          <div class="carousel-fixed-item center-align white-text">
            <h5 class="card-caption">FRONTEND</h5>
            <h6 class="card-caption">DEVELOPER</h6>
          </div>
        </div>
        <a class="carousel-item my-carousel-item" href="#two!"
          ><img src="https://lorempixel.com/250/250/nature/2" />
          <div class="carousel-fixed-item center-align white-text">
            <h5 class="card-caption">DESIGN THINKING</h5>
            <h6 class="card-caption">CONSULTANT</h6>
          </div></a
        >
        <a class="carousel-item my-carousel-item" href="#three!"
          ><img src="https://lorempixel.com/250/250/nature/3" />
          <div class="carousel-fixed-item center-align white-text">
            <h5 class="card-caption">INSURANCE</h5>
            <h6 class="card-caption">CONSULTANT</h6>
          </div></a
        >
        <a class="carousel-item my-carousel-item" href="#four!"
          ><img src="https://lorempixel.com/250/250/nature/4" />
          <div class="carousel-fixed-item center-align white-text">
            <h5 class="card-caption">FLUTTER UI</h5>
            <h6 class="card-caption">DEVELOPER</h6>
          </div></a
        >
        <a class="carousel-item my-carousel-item" href="#five!"
          ><img src="https://lorempixel.com/250/250/nature/5" />
          <div class="carousel-fixed-item center-align white-text">
            <h5 class="card-caption">SERVICE DESIGN</h5>
            <h6 class="card-caption">CONSULTANT</h6>
          </div></a
        >
      </div>
      <!-- Top Showcase Cards ENDS -->

      <!-- Top Showcase Container STARTS -->
      <div class="white" style="height: 200px">
        <div class="valign-wrapper center-align" style="height: 100%">
          <div class="container">
            <a
              href="/views/frontend_development.html"
              class="btn waves-effect waves-teal skill-btn blue-grey darken-1"
            >
              FRONTEND PROJECTS
            </a>
            <button
              class="btn waves-effect waves-teal skill-btn blue-grey darken-2"
            >
              DESIGN-THINKING CONSULTING PROJECTS
            </button>
            <button
              class="btn waves-effect waves-teal skill-btn blue-grey darken-3"
            >
              INSURANCE CONSULTING PROJECTS
            </button>
          </div>
        </div>
        <!--  -->
      </div>
      <!-- Top Showcase Container ENDS -->

      <!-- Slider Section STARTS -->
      <div class="slider">
        <ul class="slides">
          <li class="blue img-overlay">
            <img src="assets/images/img-1.jpg " />
            <div class="caption center-align">
              <h3 class="blue-text accent-4 text-overlay">
                This is our big Tagline!
              </h3>
              <h5 class="light indigo-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li class="blue img-overlay">
            <img src="assets/images/img-2.jpg" />
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li class="blue img-overlay">
            <img src="assets/images/img-6.png" />
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
          <li class="blue img-overlay">
            <img src="assets/images/img-10.jpg" />
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light grey-text text-lighten-3">
                Here's our small slogan.
              </h5>
            </div>
          </li>
        </ul>
      </div>
      <!-- Slider Section ENDS -->
    </header>

    <main>
      <div class="activity" style="height: 200px"></div>
    </main>

    <footer class="page-footer blue-grey darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">
              You can use rows and columns here to organize your footer content.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Nikash Deka. All Rights Reserved
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>

    <!-- 
     -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <script>
      $(document).ready(function () {
        $(".carousel").carousel({
          indicators: true,
        });
        $(".slider").slider({
          height: 300,
        });
        $(".sidenav").sidenav();
        $(".carousel.carousel-slider").carousel({
          fullWidth: true,
          indicators: true,
        });
      });
    </script>
  </body>
</html>
