<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title>Nikash Deka Portfolio Page</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet" />
  <!-- Import Fontawesome -->
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
        crossorigin="anonymous" />
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet"
        href="/assets/css/style.css" />
  <link rel="stylesheet"
        href="/assets/css/constant_style.css" />
  <link rel="stylesheet"
        href="/assets/css/web_dev.css">
  <!-- Import jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body class="white">
  <header>
    <!-- Nav Section STARTS -->
    <div class="navbar-fixed">
      <nav class="z-depth-0 white">
        <div class="nav-wrapper container">
          <a href="/index.html"
             class="brand-logo light-blue-text"><strong>Nikash Deka</strong></a>
          <a href="#"
             data-target="mobile-menu"
             class="sidenav-trigger black-text"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a class="black-text"
                 href="/index.html">Home</a></li>
            <li>
              <a class="black-text"
                 href="/views/projects.html">Projects</a>
            </li>
            <li>
              <a class="black-text"
                 href="/views/blogs/blogs.html">Blogs</a>
            </li>
            <li>
              <a class="black-text"
                 href="/views/about_me.html">About Me</a>
            </li>
            <li>
              <a class="btn-small light-blue"
                 href="/views/contact.html">Let's Connect</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <ul class="sidenav"
        id="mobile-menu">
      <a href="/index.html"
         class="brand-logo">
        <h5 class="pl-2 light-blue-text text-w5">Nikash Deka</h5>
      </a>
      <li><a class="text-w5"
           href="/index.html">Home</a></li>
      <li>
        <a class="text-w5"
           href="/views/projects.html">Projects</a>
      </li>
      <li><a class="text-w5"
           href="/views/blogs/blogs.html">Blogs</a></li>
      <li>
        <a class="text-w5"
           href="/views/about_me.html">About Me</a>
      </li>
      <li>
        <a class="btn-small light-blue"
           href="/views/contact.html">Let's Connect</a>
      </li>
    </ul>
    <!-- Nav Section ENDS -->
  </header>

  <!-- Top Slider Section STARTS -->
  <div class="slider">
    <ul class="slides">
      <li class="blue img-overlay">
        <img src="/assets/images/webdev-01.png " />
        <div class="caption center-align">
          <h3 class="white-text accent-4 text-overlay">
            Good Things keeps happening all around!
          </h3>
          <h5 class="light grey-text text-lighten-3">
            Just pick one for yourself.
          </h5>
        </div>
      </li>
      <li class="blue img-overlay">
        <img src="/assets/images/webdev-02.png" />
        <div class="caption left-align">
          <h3>Just begin with what you have,</h3>
          <h5 class="light grey-text text-lighten-3">
            You will surely reach your destiny.
          </h5>
        </div>
      </li>
      <li class="blue img-overlay">
        <img src="/assets/images/webdev-03.jpg" />
        <div class="caption right-align">
          <h3>Fail early and responsibly</h3>
          <h5 class="light grey-text text-lighten-3">
            If you fear failing, your will never start.
          </h5>
        </div>
      </li>
      <li class="blue img-overlay">
        <img src="/assets/images/webdev-01.png" />
        <div class="caption center-align">
          <h3>Empathy, compassion, and listening,</h3>
          <h5 class="light grey-text text-lighten-3">
            Will give you insight what your audience needs.
          </h5>
        </div>
      </li>
    </ul>
  </div>
  <!-- Top Slider Section ENDS -->

  <!-- Page Heading STARTS -->
  <div class="page-heading">
    <h4 class="center-align mt-5">
      Web Development Projects<i class="material-icons medium light-green-text">hdr_strong</i>
      </h2>
  </div>
  <!-- Page Heading ENDS -->


  <!-- ######## Container for Project Gallery ########### -->

  <!-- FIRST PROJECT SLIDES -->
  <div class="container gallery-layout">
    <a class="tooltipped right-align"
       data-position="bottom"
       data-tooltip="Crevalpro Service Design and Management Conslutancy"
       href="http://crevalpro.com">crevalpro.sdmc</a>
    <!-- Full-width images with number text -->
    <div class="mySlides">
      <div class="numbertext">1 / 5</div>
      <img src="/assets/images/crevalpro-01.png"
           style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 5</div>
      <img src="/assets/images/crevalpro-02.png"
           style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 5</div>
      <img src="/assets/images/crevalpro-03.png"
           style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 5</div>
      <img src="/assets/images/crevalpro-04.png"
           style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 5</div>
      <img src="/assets/images/crevalpro-05.png"
           style="width:100%">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev"
       onclick="plusSlides(-1)">&#10094;</a>
    <a class="next"
       onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="row thumbnails">
      <div class="column ">
        <img class="demo cursor"
             src="/assets/images/crevalpro-01.png"
             style="width:100%"
             onclick="currentSlide(1)"
             alt="Navbar and Hero Image">
      </div>
      <div class="column">
        <img class="demo cursor"
             src="/assets/images/crevalpro-02.png"
             style="width:100%"
             onclick="currentSlide(2)"
             alt="Our Services Section">
      </div>
      <div class="column">
        <img class="demo cursor"
             src="/assets/images/crevalpro-03.png"
             style="width:100%"
             onclick="currentSlide(3)"
             alt="Service and Product Cards">
      </div>
      <div class="column">
        <img class="demo cursor"
             src="/assets/images/crevalpro-04.png"
             style="width:100%"
             onclick="currentSlide(4)"
             alt="About Section">
      </div>

      <div class="column">
        <img class="demo cursor"
             src="/assets/images/crevalpro-05.png"
             style="width:100%"
             onclick="currentSlide(5)"
             alt="Contact Section">
      </div>
    </div>
  </div>

  <!-- SECOND PROJECT SLIDES -->



  <!-- TODO: DESIGN TO BE EXPLORED LATER -->
  <!-- <div class="row">
    <div class="card">
      <div class="col s8 m8">
        <div class="card-image">
          <img class="materialboxed"
               width="650"
               src="/assets/images/design-workshop-1.png"
               alt="">
        </div>
      </div>
    </div>

    <div class="col s4 m4">
      <div class="card-content">
        <p class="">Website for Crevalpro Service Design and Management Consultancy </p>
        <div class="card-action">
          <a href=""
             class="light-blue-text">Read</a>
        </div>
      </div>
    </div>

    <div class="container">


      <div class="row ">
        <div class="col s12 m6 ">
          <div class="card">
            <div class="card-image">
              <img src="/assets/images/design-workshop-1.png"
                   alt="">
              <span class="card-title">Article Title</span>
            </div>
            <div class="card-content ">
              <p class="truncate-overflow">Website for Crevalpro Service Design and Management Consultancy </p>
              <div class="card-action">
                <a href=""
                   class="light-blue-text">Read</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6 ">
          <div class="card">
            <div class="card-image">
              <img src="/assets/images/design-thinking-1.png"
                   alt="">
              <span class="card-title">Article Title</span>
            </div>
            <div class="card-content">
              <p class="truncate-overflow">Website for HappyTeeth Dental Clinic</p>
              <div class="card-action">
                <a href=""
                   class="light-blue-text">Read</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--  -->



  <main>
    <div class="activity"
         style="height: 200px"></div>
  </main>

  <!-- Footer STARTS -->
  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">User Experience</h5>
          <p class="grey-text text-lighten-4">
            Continuous improvement is the key to win users approval for your services or products.
          </p>

        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3"
                 href="/index.html">Home</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3"
                 href="/views/projects.html">Projects</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3"
                 href="/views/web_dev.html">Frontend Projects</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3"
                 href="/views/blogs/blogs.html">Blogs</a>
            </li>
            <li>
              <a class="grey-text text-lighten-3"
                 href="/views/about_me.html">About Me</a>
            </li>
            <li>
              <a class="btn-small mt-1 light-blue darken-3"
                 href="/views/contact.html">Let's Connect</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Nikash Deka. All Rights Reserced
        <a class="grey-text text-lighten-4 right"
           href="#!">To Top</a>
      </div>
    </div>
  </footer>
  <!-- Footer ENDS -->

  <script src="/assets/js/web_dev.js"></script>
  <script src="/assets/js/main.js"></script>
  <script>

    $(document).ready(function () {

      $(".carousel").carousel({
        indicators: true,
      });
      $(".slider").slider({
        height: 300,
      });
      $(".sidenav").sidenav();
      $(".carousel.carousel-slider").carousel({
        fullWidth: true,
        indicators: true,
      });
    });

    // jQuery

    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });
  </script>
</body>

</html>