@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", Roboto, Helvetica, sans-serif;
}
.primary-color {
  background-color: #1d1d1f;
  color: #ffffff;
}
.accent-color {
  background-color: #616161;
  color: #ffffff;
}
.secondary-color {
  background-color: #eeff41;
  color: #000000;
}

/* text formatting */
.text-w1 {
  font-weight: 100;
}
.text-w2 {
  font-weight: 200;
}
.text-w3 {
  font-weight: 300;
}
.text-w4 {
  font-weight: 400;
}
.text-w5 {
  font-weight: 500;
}
.text-w6 {
  font-weight: 600;
}
.text-w7 {
  font-weight: 700;
}

/* margin */
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 4rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 4rem;
}
/* padding */
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-5 {
  padding-top: 4rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pb-4 {
  padding-bottom: 4rem;
}
.pb-5 {
  padding-bottom: 4rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pl-5 {
  padding-left: 4rem;
}

/* reference: https://css-tricks.com/multi-line-truncation-with-pure-css/ 
              https://css-tricks.com/almanac/properties/l/line-clamp/
              https://css-tricks.com/weekly-news-truncating-muti-line-text-calc-in-custom-property-values-contextual-alternates/
*/
html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

.truncate-overflow {
  position: relative;
  --max-lines: 2;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
}

.truncate-overflow::before {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 3px;
  background-color: white;
}

.truncate-overflow::after {
  content: " ";
  position: absolute;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: white;
}
