@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap");

* {
  font-family: "Montserrat", Roboto, Helvetica, sans-serif;
}

.btn-small {
  background-color: #42a5f5;
}
.btn-small:hover {
  background-color: #82bbe9;
}

/* TODO: */
.skill-btn {
  margin: 8px;
}

.img-overlay {
  display: block;
  position: relative;
}

.img-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(146, 146, 146, 0.59);
}
.navbar-fixed {
  background-color: #131415;
}
.navbar-fixed nav {
  background-color: #131415;
}

.sidenav {
  background-color: #131415;
  /* background-image: url("/assets/images/Nikash_sm_transparent_circle.png"); */
  background-repeat: no-repeat;
  background-size: 600px;
}

.sidenav h5,
.sidenav h6 {
  color: #868ca0;
}
.clear-float {
  clear: both;
}

.page-heading {
  margin-top: -20px;
}

.carousel {
  background-color: #131415;
}

/* Carousel display window */
.my-carousel {
  height: 380px;
}

.my-carousel-item {
  min-height: 310px;
  min-width: 300px;
  border-radius: 2%;
}

.my-carousel-item img {
  height: 120px;
  object-fit: contain;
  overflow: hidden;
}

.carousel .indicators {
  margin-top: 10px;
}

.carousel .indicators li.indicator-item {
  background-color: grey;
}

.carousel .indicators li.indicator-item.active {
  background-color: lightgreen;
}

.card-panel {
  width: 800;
  margin-top: -30px;
  background-color: #131415;
  border: 1px #868ca0 solid;
}

.card-title {
  margin: 4px 0;
}

.card-sub-title {
  color: green;
}

.heading-caption h5 {
  padding: 100px;
}

.txt-upper {
  text-transform: uppercase;
}

.carousel-item img {
  max-width: 250px;
  max-height: 250px;
}

/* Product - Services Card */

.vh-card {
  min-height: 520px;
  margin: 30px auto;
  overflow: hidden;
}
.card-content .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.card-content .short-desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: wrap;
}

/* Skills Section */

.my-skills-tab {
  margin: 100px 0;
}
.my-skills-tab ul {
  list-style-type: inherit;
  font-weight: 700;
}

.my-skills-tab ul li {
  color: #455a64;
  list-style: initial;
  list-style-type: square;
}
.my-skills-tab ul li a {
  color: #455a64;
  list-style: initial;
  list-style-type: square;
}

.my-skills-tab .tabs .tab .active {
  color: rgb(0, 195, 255);
}

#tech-skills li,
#work-ex li,
#credentials li,
#others li {
  margin-bottom: 8px;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  color: rgb(0, 195, 255);
  /* tab heading color change when focused */
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: #e6e6e644;
  outline: none;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #455a643f;
  will-change: left, right;
}

#tech-skills ul,
#work-ex ul,
#credentials ul,
#others ul {
  padding: 20px;
  /* background-color: #e6e6e644; */
  font-weight: normal;
  color: #039be5;
}

.skills-container {
  margin-top: 150px;
}

.skills-wrapper {
  position: relative;
}
#tech-skills .skill-icons {
  /* height: 170px; */
  width: 100%;
  padding: 30px 0;
  margin: 16px 0;
  font-size: 5rem;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
}
.skill-icons {
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 24px;
}
.i-box {
  display: block;
}

.i-box img {
  max-width: 50px;
  min-width: 50px;
  min-height: 50px;
  max-height: 50px;
  padding: 2px;
  border: 1px solid rgb(236, 234, 234);
  box-shadow: 2px 8px #888888;
  border-radius: 8px;
  object-fit: cover;
}
/* Styling to set left & right padding  */
/* for brand logo  */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    min-width: 220px;
    padding: 0 1rem;
  }
}

/* SHOWCASE GRID CARD CSS STARTS  */
.showcase-grid-cards {
  height: 250px;
  background: #131415;
  background: linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(66, 165, 245, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.showcase-grid-cards .card {
  max-height: 250px;
  max-height: fit-content;
  background-color: #131415;
  border: 1px #868ca0 solid;
  border-radius: 0 0 32% 0;
}

.showcase-grid-cards .card .card-action {
  background-color: #868ca0;
}

.showcase-grid-cards .card .card-content {
  min-height: fit-content;
  overflow: hidden;
}

.showcase-grid-cards .card .card-content img {
  min-height: 200px;
  max-height: 200px;
  object-fit: fill;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

/* Image Grid Starts */
.showcase-grid-cards .h-image-grid {
  display: grid;
  grid-gap: 12px 12px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.showcase-grid-cards .h-image-grid img {
  width: 100%;
}

/* Image Grid Ends */

/* SHOWCASE GRID CARD CSS ENDS  */
